[submodule "The-Optimistic"]
	path = The-Optimistic
	url = https://github.com/miketestgit01/The-Optimistic
[submodule "fixingGithub"]
	path = fixingGithub
	url = https://github.com/MichaelDimmitt/fixingGithub.git
	branch = master
[submodule "Github-Map"]
	path = Github-Map
	url = https://github.com/mapFactory/Github-Map.git
